.root {
    -fx-background-image: url("bild.jpg");
    -fx-background-size: 1280 614;
    -fx-background-position: center center;
}

.button {
    -fx-background-color: rgba(83, 80, 82, 0.74);
    -fx-background-opacity: 30;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: rgba(185, 180, 183, 0.74);
}

.check-box {
    -fx-background-color: rgba(83, 80, 82, 0.74);
    -fx-body-color: rgba(83, 80, 82, 0.74);
    -fx-background-opacity: 30;
    -fx-text-fill: #ffffff;
    -fx-font-size: 11px;
}

.table-view {
    -fx-background-color: rgba(83, 80, 82, 0.74);
    -fx-body-color: rgba(83, 80, 82, 0.74);
    -fx-background-opacity: 30;
    -fx-text-fill: #ffffff;
    -fx-font-size: 11px;
}

.table-column {
    -fx-background-color: transparent;
    -fx-background-opacity: 30;
    -fx-text-fill: #ffffff;
    -fx-font-size: 11px;
}

.datepicker {
    -fx-background-color: rgba(83, 80, 82, 0.74);
    -fx-body-color: rgba(83, 80, 82, 0.74);
    -fx-background-opacity: 30;
    -fx-text-fill: #ffffff;
    -fx-font-size: 11px;
}

.text-field {
    -fx-background-color: rgba(83, 80, 82, 0.74);
    -fx-body-color: rgba(83, 80, 82, 0.74);
    -fx-background-opacity: 30;
    -fx-text-fill: #ffffff;
    -fx-font-size: 11px;
}



.spinner {
    -fx-background-color: rgba(83, 80, 82, 0.74);
    -fx-body-color: rgba(83, 80, 82, 0.74);
    -fx-alignment-color: rgba(83, 80, 82, 0.74);
    -fx-border-color: rgba(83, 80, 82, 0.74);
    -fx-background-opacity: 30;
    -fx-body-opacity: 30;
    -fx-border-opacity: 30;
    -fx-text-fill: #ffffff;
    -fx-font-size: 11px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: rgba(83, 80, 82, 0.74);
    -fx-border-color: rgba(83, 80, 82, 0.74);
    -fx-body-opacity: 30;
    -fx-border-opacity: 30;
}
